


p {
    background-color: blanchedalmond;
}

h1 {
    color: rgb(122, 64, 176);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: aquamarine;
}


h2 {
    color: rgb(4, 100, 183);
}

h3 {
    color: rgb(193, 12, 184);
    text-decoration: underline;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    
}

.intro{ 
    font-size: 20px;
    font-weight: bolder;
    column-count: 2;
    column-gap: 10px;
    border-radius: 500px;
}


.medio{
    font-size: 15px;
    font-style: oblique;
    box-shadow: 0 0 5px #888;
}


.cierre{
    font-size: x-large;
    text-decoration: solid;
    column-count: 3;
    column-gap: 200;
    border-radius: 700px;
    box-shadow: 10px 12px 8px #060000;
}

#actividad{
    box-shadow: 5px 3px 5px #060000;
}

#intereses{
    background-color: aquamarine;
    border-radius: 1200px; 
}

.destacado{
        font-weight: bolder;
        color: darkred;
        text-transform:uppercase;

}

img{
    margin-left: 500px;
}

#info{
    text-align: center;
    border: 13px dotted black;

}

#caja{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 50px;
    
}

h4{
    text-align: right;
}



